body {
    background-color: #202020;
  }
  
h1 {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 32px;
  }
  
form {
    margin-bottom: 20px;
  }
  
  .form-label {
    color: #fff;
  }
  
  .form-control {
    background-color: #fff;
    color: #000;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 7.5%;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
  }
  
.card {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-weight: bold;
    font-size: 20px;

    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
    color: #666;
  }
  
  .subrayado {
    text-decoration:line-through

  }
  .completada {
    background-color: #ddd;
  }
  
  